
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 227, 227);
    z-index: 10;
}
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 470px;
    display: flex;
    align-items: center;
    

}   

.right-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 182px;
    flex-shrink: 0;
    padding-right: 10px;
}
.hamberger-menu{
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}
.youtube-logo{
    width: 90px;
    height: 24px;
}
.Search-bar{
    flex: 1;
    height: 37px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    width: 0;

}
.Search-bar::placeholder{
    font-family: Roboto, Arial;
    padding-left: 5px;
    font-size: medium;
    
}
.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
  }
  .search-button,
  .voice-search-button,
  .upload-icon-container,
  .apps-icon-container,
  .notification-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .search-button .tooltip,
  .voice-search-button .tooltip,
  .upload-icon-container .tooltip,
  .apps-icon-container .tooltip,
  .notification-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s ;
    pointer-events: none;
    white-space: nowrap;
  }
  .search-button:hover .tooltip,
  .voice-search-button:hover .tooltip,
  .upload-icon-container:hover .tooltip,
  .apps-icon-container:hover .tooltip,
  .notification-icon-container:hover .tooltip{
    opacity: 1;
  }
  .search-icon {
    height: 25px;
    
  }
  
  .voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
 
  }
  
  
  .voice-search-icon {
    height: 24px;
   
  }
  .upload-icon{
    height: 24px;
    width: 24px;
  }
  .apps-icon{
    height: 24px;
    width: 24px;
  }
  .notification-icon{

    height: 24px;
    width: 24px;
  }
  .notification-icon-container{
    position: relative;
  }
  .notification-count{
    position: absolute;
    background-color: rgb(206, 35, 35);
    color: white;
    font-family: ROboto;
    border-radius: 50px;
    top: -2px;
    right: -3px;
    font-size: 11px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .my-dp{
    height: 36px;
    width: 36px;
    border-radius: 20px;
    object-fit: cover;
  }
  